*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #d16bce, #c671d5, #ba76db, #ae7be0, #a180e4, #8090f3, #579efc, #00abff, #00c1f9, #00d3e3, #36e0c6, #8de9aa);
    
}



.container{
    
    
    width: 90%;
    max-width: 650px;
    
    background: #f0e68c;
    
    overflow-y: auto;
    border-radius: 10px;
    display :flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

h2{
    margin: 2rem;
    color: #0c6a99;
}

.list{
    width: 80%;
    
    display: flex;
    outline: none;
    background: rgb(250, 249, 250);
    border-radius: 20px;
    cursor: pointer;

}

.list input{
    background: rgb(250, 249, 250);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 1rem;
    font-size: larger;
    color: rgb(49, 45, 45);
    cursor: pointer;
   
}

.list button{
    background-image: linear-gradient(to right top, #6bd181, #5bb973, #4ba264, #3d8c56, #2f7648, #2e794f, #2e7d57, #2e805e, #399e7f, #45bca3, #51dbc9, #5ffbf1);
    outline: none;
    border: none;
    width: 8rem;
    min-width: 20%;
    padding : 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    
    
}

ul {
    align-self: flex-start;
    margin-inline-start: 3.5rem;
    padding: 1rem 1rem 3rem 1rem;
    cursor: pointer;
    max-width: 500px;
    position: relative;
}

ul li{
    font-size: 1.15rem;
    line-height: .8rem; 
    letter-spacing: .05rem;
    
    user-select: none;
    list-style-type: none;
    text-transform: capitalize;
    position: relative;
    padding: 1.5rem 1rem 1rem 3rem;


}

ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    background-color:  red;
    border-radius: 50%;
    /* border:1px solid black; */
    display: inline-block;
    /* margin-right: 15px; */
    position: absolute;
    left: 0.5rem;
    top: 0.9rem;
    
}


ul li.check{
    text-decoration: line-through;
}

ul li.check::before{
    background-color: rgb(12, 165, 12);
    
}

ul li span{
    position: absolute;
    color: #1d1e1f;
    left: 480px;
    top: 14px;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    

}

ul li span:hover{
    background: #ffffff;
}
  
